use flake
export PORT="8080"
export LOG_LEVEL="debug"
export GH_APP_PRIVATE_KEY_PATH="${PWD}/tekton-ci-github-app.2024-02-07.private-key.pem"
export GH_APP_ID="820402"
export GH_APP_INSTALLATION_ID="47036939"
export GH_APP_WEBHOOK_SECRET=$(pass origoss/tekton-github-app/webhook-secret)
export TEKTON_URL="$(<tekton-url)"
